{% extends 'base.html' %}

{% block content %}
<p class="heading">Image Decryption Process</p>
{% if run_version %}
<p class="subheading_white">Variant: {{run_version}}</p>
{% endif %}
{% if not sw_dec and not hw_dec %}
<form method="post">
  <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
    <g id="SVGRepo_bgCarrier" stroke-width="1.5"></g>
    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
    <g id="SVGRepo_iconCarrier"> 
      <path d="M14.4697 7.53033C14.7626 7.82322 15.2374 7.82322 15.5303 7.53033C15.8232 7.23744 15.8232 6.76256 15.5303 6.46967L12.5303 3.46967C12.2374 3.17678 11.7626 3.17678 11.4697 3.46967L8.46967 6.46967C8.17678 6.76256 8.17678 7.23744 8.46967 7.53033C8.76256 7.82322 9.23744 7.82322 9.53033 7.53033L11.25 5.81066V14C11.25 14.4142 11.5858 14.75 12 14.75C12.4142 14.75 12.75 14.4142 12.75 14V5.81066L14.4697 7.53033Z" fill="#ffffff" stroke-width="1.5"></path> 
      <path d="M20.75 12C20.75 11.5858 20.4142 11.25 20 11.25C19.5858 11.25 19.25 11.5858 19.25 12C19.25 16.0041 16.0041 19.25 12 19.25C7.99593 19.25 4.75 16.0041 4.75 12C4.75 11.5858 4.41421 11.25 4 11.25C3.58579 11.25 3.25 11.5858 3.25 12C3.25 16.8325 7.16751 20.75 12 20.75C16.8325 20.75 20.75 16.8325 20.75 12Z" fill="#ffffff" stroke-width="1.5"></path> 
    </g>
  </svg>
  <div id="version_select">
    <input class="cap_button" name="submit_btn" type="submit" value="Process with ASCON-128">
    <input class="cap_button" name="submit_btn" type="submit" value="Process with ASCON-128a">
  </div>
</form>
{% endif %}
{% if sw_dec and hw_dec %}
<div id="input_box">  
  <div>
    <p class="output_heading">SW Image Bytes Object:</p>
    <textarea id="sw_dec" onclick="copyToClipboardSD()">{{sw_dec}}</textarea>
    <ul class="output_content">
      <li>Total Run Time: {{sw_dec_exe_time}} (s)</li>
      <li>Throughput: {{sw_dec_throughput}} (Bytes/s)</li>
      <li>Decrypted File Size: {{sw_dec_size}} (Bytes)</li>
    </ul>
  </div>
  <div>
    <p class="output_heading">Original Image:</p>
    <img src="data:image/jpeg;base64,{{base64_sw_str}}" alt="Output image" id="output_img">
  </div>
  <div>
    <p class="output_heading">HW Image Bytes Object:</p>
    <textarea id="hw_dec" onclick="copyToClipboardHD()">{{hw_dec}}</textarea>
    <ul class="output_content">
      <li>Total Run Time: {{hw_dec_exe_time}} (s)</li>
      <li>Throughput: {{hw_dec_throughput}} (Bytes/s)</li>
      <li>Decrypted File Size: {{hw_dec_size}} (Bytes)</li>
    </ul>
  </div>
  <div>
    <p class="output_heading">Original Image:</p>
    <img src="data:image/jpeg;base64,{{base64_hw_str}}" alt="Output image" id="output_img">
  </div>
</div>
{% endif %}

<script>
  function copyToClipboardSD() {
    const text = document.getElementById("sw_dec").textContent;
    navigator.clipboard.writeText(text).then(() => {
      alert("Copied to clipboard!");
    }, (err) => {
      console.error("Failed to copy:", err);
      alert("Failed to copy. Please try again.");
    });
  }

  function copyToClipboardHD() {
    const text = document.getElementById("hw_dec").textContent;
    navigator.clipboard.writeText(text).then(() => {
      alert("Copied to clipboard!");
    }, (err) => {
      console.error("Failed to copy:", err);
      alert("Failed to copy. Please try again.");
    });
  }
</script>

{% endblock %}